@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

.baniere {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.baniere {
  background: linear-gradient(rgba(243, 240, 240, 0.5), #0676d1),
    url("./images/image1.jpg") center/cover no-repeat;
  height: 50px;
}

.baniere-text {
  text-align: center;
  color: blanchedalmond;
  padding-top: 300px;
}

.banier-text h1 {
  font-size: 130px;
  font-family: "Lobster Two", cursive;
}

.banier-text p {
  font-size: 50px;
  font-style: italic;
}

.baniere_btn {
  text-align: center;
  margin-top: 20px;
}
.baniere_btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: rgb(27, 27, 26);
  border: 1px solid rgb(247, 239, 239);
  position: relative;
  z-index: 1;
  transition: color 0.6s ease-in;
}

.baniere_btn a span {
  width: 100%;
  height: 100%;
  background: rgb(248, 240, 240);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.6s ease-in;
}
.baniere_btn a:hover span {
  width: 100%;
}
.baniere_btn a:hover {
  color: rgb(199, 113, 113);
}

.pied-de-page {
  width: 100%;
  padding: 70px;
}

.texte-pied {
  padding-bottom: 70px;
  text-align: center;
}

.texte-pied p {
  margin: auto;
  font-size: 20px;
  color: rgb(69, 186, 221);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.texte-pied p::after {
  content: "";
  background: linear-gradient(#00676d, #ffff);
  height: 40px;
  width: 60px;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(-10deg);
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}
.pied-de-page {
  padding: 100px 0 20 px;
  background: rgb(236, 216, 190);
  position: relative;
}
.pied {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pied-g .pied-d {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.pied-d {
  text-align: right;
}
.pied h1 {
  margin: 10px 0;
}
.pied-g .fas {
  margin-left: 10px;
  font-size: 20px;
  color: mediumturquoise;
}
.pied-d .fas {
  margin-left: 10px;
  font-size: 20px;
  color: mediumturquoise;
}

.img-footer {
  max-width: 470px;
  opacity: 0.2;
  position: absolute;
  left: 55%;
  top: 30%;
  transform: translate(-50%, -50%);
  transition: 0.6s ease-in;
}
.img-footer:hover {
  transform: translate(-50%);
}
.pied-center {
  text-align: center;
}
.pied-center .fab {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #00676d;
  cursor: pointer;
  transition: 0.6s ease-in;
  color: rgb(27, 146, 146);
}
.pied-center .fab:hover {
  background: rgb(216, 228, 224);
  color: rgb(182, 182, 175);
  transform: translateY(-10px);
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0, 5s;
  background: #E31818(230, 236, 236);
}

.logo {
  color: rgb(22, 21, 22);
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

.logo span {
  color: burlywood;
}

.navigation {
  display: flex;
  position: relative;
}

.navigation li {
  list-style: none;
}

.navigation a {
  color: rgb(17, 17, 17);
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}

.reservation {
  padding: 10px 20px;
  background: burlywood;
  margin-top: -10px;
  text-transform: uppercase;
}

.reservation:hover {
  background: rgb(223, 142, 38);
  transition: ease-out;
}

header .navigation li a:hover {
  color: rgb(223, 142, 38);
  border-bottom: 2px solid rgb(223, 142, 38);
}

/* pour view product*/
.content-wrapper {
  width: 1050px;
  margin: 0 auto;
  
}

main .products-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 100px 100px;
}

main .products-wrapper .divimage {
  float: left;
  
}

main .products-wrapper .divproduactdata {
  float: left;
  width: 700px;
  padding: 100px 0px 0px 0px;
  overflow: hidden;
}
/*
main .products-wrapper .divproduactdat h1 {
  display: block;
  color: #555555;
 
  padding: 100px 600px 450px 20px;
}
*/

/*
main .products-wrapper .prix {
  display: block;
  color: #999999;
  padding: 0px 600px 400px 20px;
}
*/
main .products-wrapper:hover .nom {
  text-decoration: underline;
}

main > .products-wrapper > div {
	padding-left: 50px;
}

main .products-wrapper .divproduactdata form input[type="submit"]
{
    background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;

}

main .products-wrapper .divproduactdata form input[type="number"]
{
    width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;

}

.searchinput  {
  float: left;
 
}


.searchinput input[type=search] {
  
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid black;
}

.button {
    margin-left: 5px;
    padding: 12px 20px;
    border: 0;
    background: #4e5c70;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

